
#play_button{
    margin: 10px;
}


.center_text{
    text-align: center;
    color: white;
    font-family: 'Rammetto One', cursive;
}

.name_panel{
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 4px;
    padding: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
}