#new_game_button{
    margin-bottom: 20px;
}
.panel {
    color:black;
}
.play_game_button{
    margin-top: 4px;
}
#button_td{
    width: 88px;
}
.score_td{
    text-align: center;

}
.you_td{
  white-space: nowrap;
    text-align: right;
}

#you_won{
    color: green;
}
#you_lost{
    color: firebrick;
}

.score_div{
    text-align: center;
   display: inline-block;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

.you_div{
    border-right-style: solid;
    border-right-color: #DFDFDF;
    border-right-width: 2px;
}

.profile_pics {
    border-radius: 50%;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}
#outside_name{
    display: inline-block;

}
.name_div{
    /*display: inline-block;*/
}
.round_div{
    color: #ff8400;
    /*display: inline-block;*/
}