#new_game_button{
    margin-bottom: 20px;
}
.panel {
    color:black;
}

.score_td{
    text-align: center;

}
.you_td{
    border-right-style: solid;
    border-right-color: #DDDDDD;
    border-right-width: thin;
    border-collapse: separate;
}

#you_won{
    color: green;
}
#you_lost{
    color: firebrick;
}