
.instructions_heading{
    color: white;
    text-align: center;
    font-family: 'Rammetto One', cursive;
    /*font: 700 26px Brandon,Helvetica,Arial,sans-serif;*/
    margin-bottom: 30px;
}

.friend_div{
        display: inline-block;
    width: 48%;

}
.random_div{
    display: inline-block;
        width: 48%;
    margin-left: 7px;

}