<%inherit file="base_ajax.htm" />

<%block name="content">

<div class="outer_name_div">
    <div class="player_div">
        <img src="${user.player.picture_url}" class="profile_pics">
        <div id="name_score_div">
            <h4 id="player_name">${user.first_name}</h4>
            <br/>
            <span class="score">
                <i id="a" class="fa fa-book fa-2x"></i>
                <i id="b" class="fa fa-history fa-2x"></i>
                <i id="c" class="fa fa-globe fa-2x"></i>
                <i id="d" class="fa fa-black-tie fa-2x"></i>
            </span>
        </div>
    </div>
    <div class="vs_div"><h4 class="center_text">vs</h4></div>
    <div class="opponent_div">
        <div id="name_score_div">
            <h4 id="player_name">${opponent.first_name}</h4>
            <br/>
            <span class="score">
                <i id="e" class="fa fa-book fa-2x"></i>
                <i id="f" class="fa fa-history fa-2x"></i>
                <i id="g" class="fa fa-globe fa-2x"></i>
                <i id="h" class="fa fa-black-tie fa-2x"></i>
        </span>
        </div>

        <img src="${opponent.player.picture_url}" class="profile_pics">
    </div>
</div>
<hr id="line">

<br/>
<h3 class="center_text">Choose Category</h3>
<br/><br/>
<h4 class="center_text">Book of Mormon</h4>
<h4 class="center_text">Church History</h4>
<h4 class="center_text">Mormon Culture</h4>
<h4 class="center_text">Prophets</h4>
<br/>
<br/>

<button class="btn btn-lg btn-success btn-block" id="play_button" data-game_id="${game.id}" >Play!</button>


</%block>

