<%inherit file="base_ajax.htm" />

<%block name="content">

<div class="outer_name_div">
    <div class="player_div">
        <img src="${user.player.picture_url}" class="profile_pics">
        <div id="name_score_div">
            <h4 id="player_name">${user.first_name}</h4>
            <br/>
            <span class="score">
                <i id="a" class="fa fa-book fa-2x"></i>
                <i id="b" class="fa fa-history fa-2x"></i>
                <i id="c" class="fa fa-globe fa-2x"></i>
                <i id="d" class="fa fa-male fa-2x"></i>
            </span>
        </div>
    </div>
    <div class="vs_div"><h4 class="center_text">vs</h4></div>
    <div class="opponent_div">
        <div id="name_score_div">
            <h4 id="player_name">${opponent.first_name}</h4>
            <br/>
            <span class="score">
                <i id="e" class="fa fa-book fa-2x"></i>
                <i id="f" class="fa fa-history fa-2x"></i>
                <i id="g" class="fa fa-globe fa-2x"></i>
                <i id="h" class="fa fa-male fa-2x"></i>
        </span>
        </div>

        <img src="${opponent.player.picture_url}" class="profile_pics">
    </div>
</div>
<hr id="line">

<h3 class="center_text">Choose Category</h3>



<link href='http://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'>

<div id="wrapper">

  <div id="wheel">
    <div id="inner-wheel">
      <div class="sec"><span class="fa fa-book"></span></div>
      <div class="sec"><span class="fa fa-history"></span></div>
      <div class="sec"><span class="fa fa-globe"></span></div>
      <div class="sec"><span class="fa fa-male"></span></div>

    </div>

    <div id="spin">
      <div id="inner-spin"></div>
    </div>

    <div id="shine"></div>
  </div>


  <div id="txt"></div>
</div>


<h2 class="center_text category_name" id="cat_1">Mormon Culture!</h2>
<h2 class="center_text category_name" id="cat_2">Church History!</h2>
<h2 class="center_text category_name" id="cat_3">Book of Mormon!</h2>
<h2 class="center_text category_name" id="cat_4">Prophets!</h2>

<button class="btn btn-lg btn-success btn-block" id="play_button" data-game_id="${game.id}" >Play!</button>

<div id="outer_gauge" number-right="${game.number_right}">
    <div id="gauge" class=""></div>
</div>

</%block>

