<%inherit file="base.htm" />
<%block name="navbar">
<div  id="top_bar_outer">
    <div id="top_bar_inner">

            <a class="top_bar_item_left" href="trivia"><img alt="Brand" src="${STATIC_URL}trivia/media/logo.svg" id="brand_image"></a>
            <p class="top_bar_item_left" id="app_title"><a href="trivia" id="app_title_link">Mormon Trivia Crack</a><a href="trivia" id="app_title_link_mtc">MTC</a></p>

            %if user.is_authenticated():

            <div class="dropdown top_bar_item_right top_bar_text">
                <a id="name_link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${ user.get_full_name()} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/?next=${ request.path }">Logout</a></li>

                </ul>
            </div>
            <a class="top_bar_item_right"></a><img src="${picture_url}" id="profile_pic"></a>

            %else:

            <p class="top_bar_item_right top_bar_text"><a href="/login/facebook/?next=${ request.path }">Login with Facebook</a></p>

            %endif
    </div>
</div>

</%block>
<%block name="content">

<div id="main_content_outer">
    <div class="loading loader"></div>
    <div id="main_content_inner">

            <div  id="game_panel">
                    <div class="loader loader_wheel">Loading...</div>
                    <div id="panel_contents">

                    </div>

            </div>
    </div>
</div>

</%block>