<%inherit file="base_ajax.htm" />

<%block name="content">

    <h3 class="instructions_heading">Choose an opponent</h3>

    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <td><button  class="btn btn-lg btn-primary btn-block" id="friends_button" >Friends</button></td>
        </div>
        <div class="col-xs-5 ">
            <td><button  class="btn btn-lg btn-primary btn-block" id="random_button" >Random</button></td>

        </div>
    </div>
    <table style="width:100%">
        <tr>

        </tr>
    </table>




</%block>

